<% include partials/header %>
<h1>The campground page</h1>

<a href="campgrounds/new">Add a new Picture</a>

<% campgrounds.forEach(campground => { %>
<div>
    <h4><%=campground.name %></h4>
    <img src="<%=campground.image %>" alt="">
</div>


<% }); %>
<% include partials/footer %>